body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 2fr 1fr;
    height: 60px;
    background-color: #c4c4c4;
    grid-template-areas:
    ". logo navitems navicons ."
}
.logo {
    grid-area: logo;
    justify-self: end;
    background-color:#999999;
    width: 200px;
    height: 80px;
}
.logo p {
    text-align: center;
    line-height: 50px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: auto;
    color: #fff;
    font-size: 36px;
    font-weight: 600;
}

.navlist {
    padding-top: 5px;
    list-style: none; 
    color: white;
    font-weight: 200;
}

.navitems{
    grid-area: navitems;
    height: 60px;
    margin: 0px;
    padding: 0px;
}

.navitems li {
    display: inline-block;
    margin-right: 30px;
}

.navitems ul {
    /* display: block; */
}

.navicons {
    grid-area: navicons;
    display: block;
    align-self: center;
    padding-bottom: 17PX;
    justify-self: end;
}

.circle {
    display: inline-block;
	width: 30px;
    height: 30px;
    margin-left: 10px;
	background: #999999;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: 
    ". form .";
    width: 100%;
    height: 350px;
    background-color: #666666;
}

.form {
    grid-area: form;
    height: 320px;
    background-color: #999999;
    border-radius: 10px;
    margin-top: 170px;
}

.offers {
    display: grid;
    grid-auto-columns: 150px;
    margin-top: 200px;
    grid-template-columns: 1fr 8fr 1fr ;
    background-color: #fff;
    color: #444;
    justify-content: center;
    grid-template-areas: " . suboffers . ";


}

.suboffers {
    display: grid;
    grid-area: suboffers;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-areas: 
    "offer1 offer2 offer3";
    /* justify-self: center; */
    /* grid-gap: 50px; */
    justify-content: space-between;

}
.box {
    background-color: #666666;
    border-radius: 10px;
    width: 320px;
    height: 300px;
}

.offer1 {
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: "." "holder";
    grid-area: offer1;
    justify-self: start;
}
.offer2 {
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: "." "holder";
    grid-area: offer2;
    justify-self: center
}
.offer3 {
    display: grid;
    grid-template-rows: 5fr 1fr;
    grid-template-areas: "." "holder";
    grid-area: offer3;
    justify-self: end;
}

.holder {
    grid-area: holder;
    display: grid;
    align-self: start;
    background-color: #444;
    color: white;
    height: 50px;
    width: auto;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.wrapper2 {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: 
    ". client .";
    width: 100%;
    height: 350px;
    margin-top: 50px;
}
.client {
    display: grid;
    grid-area: client;
    padding: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px 100px;
    grid-template-areas:
    "dp dp head head ."
    "dp dp text text text"
    "logo logo logo logo logo";
    grid-gap: 50px;
    background-color: #999999;
    border-radius: 10px;
}

.dp{
    grid-area: dp;
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 3;
    background-color: #ffffff;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
}

.head {
    grid-area: head;
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 1;
    background-color: #333;
    border-radius: 10px;
    justify-self: center;
    align-self: center;
    height: 50%;
    width: 90%;
    margin-top: 40px;
}

.logos {
    grid-area: logos;
    grid-column-start: 1;
    grid-column-end: span 1;
    grid-row-start: 2;
    grid-row-end: span 2;
    background-color: aqua;
}

.text {
    grid-area: text;
    grid-column-start: 3;
    grid-column-end: span 4;
    grid-row-start: 2;
    grid-row-end: span 2;
    background-color: rgb(23, 43, 43);
    border-radius: 10px;
    height: 80%;
    width: 95%;
}

.quotes {

}

.gallery {

}

.footer {

}
